/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
}

/* pagina */
#app{
    height: 100vh;
    width: 100%;
    background: linear-gradient(#009688 0 15%, #DCDBD2 15% 100%);;
}
#app .container{
    padding: 30px 0;
}

/* box profilo */
.header{
    height: 70px;
    padding: 0 20px 0 10px;
    background-color: #EAEAEA;
    border-color: #B1B1B1;
}
.options{
    color: #B1B1B1;
    font-size: 1.2em;
}
.option{
    display: inline-block;
    padding: 0 5px;
    cursor: pointer;
}

/* box warning notifiche */
.warning{
    height: 80px;
    background-color: #8EDAFC;
}
.bell{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    background-color: #FFFFFF;
    color: #8EDAFC;
    margin: 0 15px;
    font-size: 1.3em;
}
.warning-text span{
    font-size: 1.05em;
    font-weight: 500;
}
.warning-text a{
    font-size: .8em;
    color: #b1b1b1db;
}
.warning-text a:hover{
    color: #B1B1B1;
}

/* box barra di ricerca contatti */
.search-contacts{
    height: 46px;
    background-color: #FAFAFA;
}
.search-contacts span{
    background-color: #FFFFFF;
    padding: 0 25px;
    cursor: pointer;
}
.search-contacts span i{
    color: #B1B1B1;
}
.test>*{
    border: 1px solid #f6eeee !important;
}

/* box elenco contatti */
.contacts{
    height: calc(100% - 196px);
    background-color: #FFFFFF;
    overflow-y: auto;
}
.contacts li{
    cursor: pointer;
}
.contacts li img, .profile img{
    width: 50px;
    margin-right: 10px;
}
.contact-name{
    font-weight: 500;
}
.contacts li:hover{
    background-color: #FAFAFA;
}

/* parte destra */
.messages-area{
    height: calc(100% - 70px);
    width: 100%;
    background-image: url(../img/mine.jpg);
}

/* area messaggi */
.messages{
    height: calc(100% - 70px);
    padding: 30px;
    overflow-y: auto;
}

/* area input testo */
.footer{
    height: 70px;
    background-color: rgba(234, 234, 234, .5);
}
.footer span{
    border: none;
    background-color: transparent;
    font-size: 1.3em;
    padding: 0 25px;
}
.footer span i{
    cursor: pointer;
}

/* messaggi */
.message-text{
    margin: 10px 0;
    padding: 15px;
    border-radius: 10px;
    min-width: 30%;
    max-width: 60%;
    word-wrap: break-word;
}
.sent{
    background-color: #D5F9BA;
    float: right;
    clear: both;
}
.received{
    background-color: #FFFFFF;
    float: left;
    clear: both;
}